/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body {
  font-family: "Bradley Hand", Courier, "Segoe Print", sans-serif;
  margin: 35px;
  font-size: 20px;
  line-height: 20px;
}

.font {
  margin: 30px;
}

th {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

td {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


label {
  display: block;
}

.text_field {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.show_field {
  margin: 35px;
  font-size: 15px;
}

.notice {
  margin: 35px;
  color: blue;
}

.error {
  color: red;
  border: solid 5px red;
}

.error > h4 {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}